
@{
    ViewBag.Title = "NoActivePromotionsPeriods";
    Layout = "~/Views/Shared/_EServiecsLayout.cshtml";
}
<div class="text-center">
    <h2>@Resources.Globalization.NoActivePromotionsPeriodsText</h2>
</div>

