<script type="text/javascript">

    $(document).ready(function () {
        
    });

</script>

<div class="btn-group">
    @Html.Partial("~/Views/PromotionsRecords/_CandidatesAlreadyPromoted.cshtml")
    @Html.Partial("~/Views/PromotionsRecords/_PromotionRecordsLog.cshtml")
</div>

