
<script type="text/javascript">
    $(document).ready(function () {
        BindOrgTree();
    });

    function BindOrgTree() {
        $.ajax({
            type: "POST"
            , dataType: "json"
            , contentType: "application/json; charset=utf-8"
            , url: "@Url.Content("~/OrganizationStructure/GetOrganizationStructure")"
            , success: function (d) {

                //console.log(JSON.stringify(d.data));

                $('#OrganizationTree').treeview({
                    data: '[' + JSON.stringify(d.data).replace(/OrganizationNameWithBranch/g, "text").replace(/ChildOrganization/g, "nodes") + ']',
                    levels: 2, // for default expanded
                    backColor: 'white',
                    showBorder: true,
                    selectedBackColor: '#2D3E50',
                    //enableLinks: true,
                    //expandIcon: "glyphicon glyphicon-triangle-right",
                    //collapseIcon: "glyphicon glyphicon-triangle-bottom",
                    //backColor: 'green'
                    onNodeSelected: function (event, data) {
                        $('#hdnFldOrganizationID').val(data.OrganizationID);
                        $('#hdnFldOrganizationName').val(data.OrganizationName);
                        //DestroyModal('#divOrganizationStructureModal');
                        var CallBackFnName = 'OnOrganizationStructureNodeSelected';
                        if (typeof CallBackFnName !== 'undefined' && $.isFunction(window[CallBackFnName])) {
                            window[CallBackFnName]();
                        }
                    }
                });
            }
            , error: function (xhr, status, error) {
                alert(error.message);
            },
        });
    }

    function ResetOrganization() {
        $("#hdnFldOrganizationID").val('');
        $("#txtOrganizationName").val('');
        $("#hdnFldOrganizationName").val('');
    }

</script>

<div id="OrganizationTree" style="width:100%"></div>
<input type="hidden" id="hdnFldOrganizationID" />
<input type="hidden" id="hdnFldOrganizationName" />
