<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="HCMEntities" connectionString="metadata=res://*/HCMEntities.csdl|res://*/HCMEntities.ssdl|res://*/HCMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mic-db-dev;initial catalog=HCMSprint4;user id=sa;password=p@$$w0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MvcSiteMapProvider_IncludeAssembliesForScan" value="HCM" />
    <add key="MvcSiteMapProvider_UseExternalDIContainer" value="true" />
    <add key="MvcSiteMapProvider_ScanAssembliesForSiteMapNodes" value="true" />
    
    <add key="SSRSServer" value="http://mic-ssrs-test/ReportServer" />
    <!--<add key="SecurityServiceBaseURL" value="http://localhost:24988/" />-->
    <add key="SecurityServiceBaseURL" value="http://mic-app-test:8038/" />
    <add key="TimeAttendanceWebApiURL" value="http://mic-app-test:8058/api/" />
    <add key="SMSServiceBaseURL" value="http://mic-app-test:8058/api/" />
    <add key="TakafulServiceBaseURL" value="http://localhost:7566/" />
    <add key="EmployeesPicsPath" value="\\\\mic-db-dev\\Shared\\Employees Pics\\" />
    <add key="ExcelPath" value="D:\AzureDevOps\HumanResources\HCM\Dev\HCM\WebForms\Excel\" />
    <add key="PDFFolder" value="~/WebForms/PDF/" />
    <add key="ShardPDFFolderForPromotionCard" value="\\mic-db-dev\shared\HCM\PromotionCard\" />

    <add key="ProjectID" value="15" />
    <add key="ProjectNameInSSRSServer" value="/HCM/" />
    <add key="DateFormat" value="yyyy-MM-dd" />
    <add key="DateFormatRTL" value="yyyy-mm-dd" />
    <add key="SMSServiceUser" value="Hany" />
    <add key="SMSServicePassword" value="1234" />
    <add key="DefaultMobileNumber" value="966581656117" />
    <add key="Environment" value="dev" />
   
    <add key="WindowsUserIdentity" value="90090004" /> <!--90090004  90028255 90027756-->
    <add key="LastDayOfEmployeesPlacement" value="29-12-1442" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="2147483644" />
    <add key="ActualTaskPerformancePoints" value="2" />
    
    <add key="IsAppUnderUpgrading" value="false" />
    <add key="AllowEmployeeCodesWhileUpgrading" value="90012454,90025159" />

    <add key="ImagesPath" value="~/content/images/" />
  </appSettings>
  <system.web>
    <sessionState timeout="20"></sessionState>
    <authentication mode="Forms">
      <forms loginUrl="~\Account\Login" name="authLogin" timeout="2880" />
    </authentication>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="ar-SA" uiCulture="ar-SA" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <customErrors mode="Off" defaultRedirect="Error">
      <error statusCode="404" redirect="~/Error/NotFound" />
      <error statusCode="403" redirect="~/Error/AccessDenied" />
    </customErrors>

    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <!--<compilation debug="true" targetFramework="4.5.1" />-->
    <!--<httpRuntime targetFramework="4.5.1" />-->
    <pages>
      <controls>
        <add tagPrefix="uc" tagName="ReportViewer" src="~/Views/UserControls/ReportViewerUC.ascx" />
        <add tagPrefix="rsweb" namespace="Microsoft.Reporting.WebForms" assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </controls>
      <namespaces>
        <add namespace="MvcSiteMapProvider.Web.Html" />
        <add namespace="MvcSiteMapProvider.Web.Html.Models" />
      </namespaces>
    </pages>
    <siteMap defaultProvider="MvcSiteMapProvider">
      <providers>
        <clear />
        <add name="MvcSiteMapProvider" type="MvcSiteMapProvider.DefaultSiteMapProvider, MvcSiteMapProvider" siteMapFile="~/Mvc.Sitemap" />
      </providers>
    </siteMap>
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".json" mimeType="applicant/json" />
    </staticContent>
    <modules>
      <remove name="FormsAuthenticationModule" />
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" preCondition="" />
      <remove name="BundleModule" />
      <add name="BundleModule" type="System.Web.Optimization.BundleModule" />
      <remove name="Session" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="4000" maxUrl="6000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644"></jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Service1Soap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.16.0.31/smsservice/service1.asmx" binding="basicHttpBinding" bindingConfiguration="Service1Soap" contract="SMSService.Service1Soap" name="Service1Soap" />
    </client>
  </system.serviceModel>

</configuration>