<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="HCMEntities" connectionString="metadata=res://*/HCMEntities.csdl|res://*/HCMEntities.ssdl|res://*/HCMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mic-db-dev;initial catalog=HCMSprint4;user id=sa;password=p@$$w0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="ServiceStartsEveryDayAt" value="20:37" />
    <!--24 hours clock-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>