
@{
    Layout = null;
    ViewBag.Title = "Relogin";
}

@*<h2>Relogin</h2>*@

<script>
    window.top.location.href = '/home/index';
</script>

<div>
    Loading ...
    @*Relogin to view this feature <a href="/home/index" target="_parent">Click here to Log out</a>*@
</div>

