
@{
    Layout = "~/Views/Shared/_EServiecsLayout.cshtml";
    ViewBag.Title = @Resources.Globalization.UserIdentityNotKnownText;
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row alert alert-danger bold text-center">
                @Resources.Globalization.UserIdentityNotKnownText
            </div>
        </div>
    </div>
</div>


